<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="background">
  <div class="container-fluid">
    <div class="login-page">
      <div class="form">
        <form (ngSubmit)="authanticate()" class="login-form">
          <input type="text" [(ngModel)]="username" name="user" placeholder="username" required/>
          <input type="password" [(ngModel)]="password" name="pass" placeholder="password" required/>
          <button type="submit">login</button>
          <button class="google-button">
            <i class="fa fa-google-plus"></i>
            login with google
          </button>
          <p class="message">Not registered?
            <a routerLink="/register">Create an account</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
