<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="body">
  <div class="row" style="margin-top: 5em">
    <div class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4" id="profile_pic">
      <img src="https://avatars3.githubusercontent.com/u/19716874?s=400&u=82d766c97ec56e5abc05ff0802cad42a41fdfc30&v=4" class="img-circle img-center img-responsive"
        border="3" alt="">
      <!--<img src="http://www.lafayetterotary.org/websites_core/images/no_image.jpg" class="img-circle img-center img-responsive" alt="">-->
    </div>
  </div>
  <div class="row" style="margin-top: 2em">
    <div class="col-md-6 col-md-offset-3 container-fluid">
      <h1 id="name" class="text-center">BURKAY PEHLIVAN</h1>
    </div>
  </div>
  <div class="row">
    <p class="text-center">
      <b>Istanbul - Turkey |
        <a href="mailto:bpehlivan235@gmail.com">bpehlivan235@gmail.com</a>
      </b>
    </p>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-10  col-xs-offset-1">
      <p class="text-center">Welcome to my personal website! I am a recently graduated software engineer who loves coding and learning new things.You
        can find out more about my personal and professional life on this website, enjoy!</p>
    </div>
  </div>
  <!-- social icons-->
  <div class="row">
    <div class="col-md-6 col-md-offset-3" id="social_icons" style="margin-top: 1em">
      <ul class="social-network social-circle">
        <li>
          <a href="#" class="icoTwitter" title="Twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#" class="icoLinkedin" title="Linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="#" class="icoGithub" title="Linkedin">
            <i class="fa fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center" style="margin-top: 3em">
    <a (click)="scroll('experience')">
      <i class="fa fa-angle-double-down" style="font-size:4em"></i>
    </a>
  </div>
</div>

<div id="experience" class="row" style="margin-top:7em">
  <h1 class="text-center">Experience</h1>
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <div class="resume-experience-element">
      <h3>Junior Software Engineer</h3>
      <h4>
        <a target="_blank" href="https://www.energy-pool.com.tr">Energy Pool Turkey - Istanbul</a>
      </h4>
      <ul>
        <li>Web application development using Django Framework</li>
        <li>Developing regular data collection programs using Python 3 from various data sources (REST API's and WSDL's)</li>
        <li>Maintaining a PostgreSQL database</li>
      </ul>
      <p>January 2018 - Present</p>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <div class="resume-experience-element">
      <h3>Software Engineering Intern</h3>
      <h4>
        <a target="_blank" href="https://www.energy-pool.com.tr">Energy Pool Turkey - Istanbul</a>
      </h4>
      <ul>
        <li>Web application development using Django Framework</li>
        <ul>
          <li>Minor front-end development using bootstrap, jquery</li>
        </ul>
        <li>Developing regular data collection programs from various API's (Python 3)</li>
        <li>Maintaining a PostgreSQL database</li>
      </ul>
      <p>March 2017 - January 2018</p>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <div class="resume-experience-element">
      <h3>Software Engineering Intern</h3>
      <h4>
        <a target="_blank" href="http://www.netas.com.tr/en/home-page/">NETAŞ - Istanbul</a>
      </h4>
      <ul>
        <li>Writing Linux shell scripts</li>
        <li>Basic backend development with PHP</li>
        <li>Minor frontend development with bootstrap and jQuery</li>
      </ul>
      <p>October 2016 - December 2016</p>
    </div>
  </div>
</div>
<div class="text-center" style="margin-top: 1em">
  <a (click)="scroll('bottom-row')">
    <i class="fa fa-angle-double-down" style="font-size:4em"></i>
  </a>
</div>
<div id="education" class="row" style="margin-top:14em">
  <h1 class="text-center">Education</h1>
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1" style="margin-top: 3em">
    <div class="resume-experience-element">
      <h3>
        <a target="_blank" href="https://bau.edu.tr">Bahcesehir University</a>
      </h3>
      <h4>Faculty Of Engineering and Natural Sciences - Computer Engineering</h4>
      <ul>
        <li>GPA: 2.43</li>
        <li>Language Of the Program: 100% English</li>
        <li>Full scholarship for education fees</li>
        <li>240 ects</li>
      </ul>
      <p>September 2013 - January 2018</p>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1" style="margin-top: 3em">
    <div class="resume-experience-element">
      <h3 class="mb-0">Makzume Anatolian High School</h3>
      <p>September 2009 - May 2013</p>
      <h5>Hatay - Turkey</h5>
    </div>
  </div>

</div>
<div class="row">

  <div class="text-center" style="margin-top: 6em" id="bottom-row">
    <a (click)="scroll('body')">
      <i class="fa fa-angle-double-up" style="font-size:4em"></i>
    </a>
  </div>

</div>
