<div class="container-fluid">
  <!--<img src="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-578814.jpg" class="img-responsive">-->
  <div class="row" id="top">
    <div class="text-center">
      <div class="heading">
        <p>
          Weight
        </p>
        <p class="head-down" style="font-size:3em;color: #b8173a;">
          Track
        </p>
      </div>
      <p style="font-size: 1.3em">
        Welcome to this small "weight tracking" app which is delevoped for testing new stuff.
      </p>
    </div>
  </div>

  <div class="row" style="margin-top: 12em">
    <div class="text-center">
      <div class="btn-group">
        <a routerLink="/login">
          <button class="btn btn-default btn-center btn-left">LOGIN</button>
        </a>
        <a routerLink="/about">
          <button routerLinkActive="active" class="btn btn-default btn-center btn-right">
            LEARN MORE
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
