<div class="container-fluid">
  <div class="row top">
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="card">
        <div class="card-body">
          <div class="card-block well">
            <h5 class="text">visit library</h5>
            <ul>
              <li>go work</li>
              <li>eat thing</li>
              <li>to stuff</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-block well">
          <h5 class="text">Tawshif Ahsan Khan</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-block well">
          <h5 class="text">Tawshif Ahsan Khan</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-block well">
          <h5 class="text">Tawshif Ahsan Khan</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-block well">
          <h5 class="text">Tawshif Ahsan Khan</h5>
        </div>
      </div>
    </div>
  </div>
</div>
