<div class="image">

  <div class="container">
    <div class="text-center">
      <div class="heading">
      <p>
        Planner
      </p>
      <p class="text-danger">
        for
      </p>
      <p>
        Postponers
      </p>
    </div>
      <p style="font-size: 1.3em">
        Welcome to this small "to-do" app which is delevoped for testing new stuff.
      </p>
    </div>
    <div class="row" style="margin-top: 5em">
      <div class="text-center">
        <div class="btn-group">
          <a routerLink="/login">
            <button class="btn btn-default btn-center btn-left">LOGIN</button>
          </a>
            <a routerLink="/about">
            <button routerLinkActive="active" class="btn btn-default btn-center btn-right">
              LEARN MORE
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 5em">
      <div class="text-center">
        <div class="bottom-text">
          <p>
            "Planning ahead is always a good idea"
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
